
#public Interface interface
/bin/data/interfaceData
/bin/data/editor_private
/bin/data/editor
/bin/data/userinterface
/bin/data/RE-userinterface
/bin/data/RE-server

#Reality Server
RealityServer/RE-server
RealityServer/server


#documentation
/bin/data/docs_generated/

#key files
vuforiaKey.h

# osx directory files
.DS_Store


# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
# *.pbxuser
# !default.pbxuser
# *.mode1v3
# !default.mode1v3
# *.mode2v3
# !default.mode2v3
# *.perspectivev3
# !default.perspectivev3
xcuserdata/

## Other
# *.moved-aside
# *.xccheckout
# *.xcscmblueprint

# IDEA config files
.idea/

src/vuforiaKey.h

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
Pods/
